#N
ui_in_0_
ui_in_1_
ui_in_2_
ui_in_3_
ui_in_4_
ui_in_5_
ui_in_6_
ui_in_7_
uio_in_0_
uio_in_1_
uio_in_2_
uio_in_3_
uio_in_4_
uio_in_5_
uio_in_6_
uio_in_7_
clk
rst_n
ena

#S
uo_out_0_
uo_out_1_
uo_out_2_
uo_out_3_
uo_out_4_
uo_out_5_
uo_out_6_
uo_out_7_
uio_out_0_
uio_out_1_
uio_out_2_
uio_out_3_
uio_out_4_
uio_out_5_
uio_out_6_
uio_out_7_
uio_oe_0_
uio_oe_1_
uio_oe_2_
uio_oe_3_
uio_oe_4_
uio_oe_5_
uio_oe_6_
uio_oe_7_
